<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lee.minted">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="Homey"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login_Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".MenuActivities.Menu_Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Menu_Vaad_Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Hadar_Dayarim"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".MenuActivities.takalot"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".MenuActivities.Complaint_Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".forum"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".maazan"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".MenuActivities.daf_kesher"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".DialogAlerts.dayarProfile"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".add_activity_toCalendar_dayar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".add_takala"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
    </application>

</manifest>